<% @all_posts.each do |post| %>
<h1> <a href="posts/<%= post.id %>"> <%= post.title %> </a></h1>
<p> by: <%= post.author %> </p>
<% end %>

<form action='posts/new' method="get" accept-charset="utf-8" id='new-post'>
  <input type='submit'  />
</form>
