ul {
  margin:0 auto;
  width: 700px;
}

body {
  background-color: #EFF0E2;
  color: #223127;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}


.logo {
  text-decoration: none;
  position: fixed;
  z-index: 999;
  top: 50px;
  transform: rotate(-30deg);
  margin: 30px;
  padding-top: 20px;
  font-family: 'Tangeringe', cursive;
  font-size: 3em;
  color :#ED3F18;
}

@media (max-width: 1200px) {
  .logo {
    transform: rotate(0deg);
    top: 0;
    padding-top: 0;
    margin: 0 20px;
    font-size: 2em;
  }
}
@media (max-width: 990px) {
  .logo {
    text-decoration: none;
  }
}
.nav {
  position: fixed;
  min-width: 990px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
  background-color: #223127;
  border: 1px solid #223127;
}

.nav2 {
  position:fixed;
  top: 57px;
  right: 10px;
  zindex: 999;
  padding: 10px 25px;
}

.nav2 a {
  color: #F5F5F5;
  text-decoration: none;
}

.nav2 a li {
  display: inline-block;
  color: #F5F5F5;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 10px;
  border-bottom-left-radius: 5%20%;
  border-bottom-right-radius: 5%20%;
  border-top-left-radius: 5%20%;
  border-top-right-radius: 5%20%;
  background-image: linear-gradient(to bottom, #889FA6, #223127);
}

.nav2 a li:hover {
  background-image: linear-gradient(to top, #889FA6, #223127);
}


.nav ul li {
  padding: 15px;
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
  vertical-align: middle;
}
.nav ul li:hover {
    background-color: rgba(195,215,223,0.2)
}

.nav a {
  text-decoration: none;
  color: #F5F5F5;
  opacity: 0.75;
}

.nav form {
  color: #5E412F;
  float: right;
  margin-bottom: 0;
}

.new-post {
  text-decoration: underline;
}

.main1 {
  padding-top: 60px;
  max-width: 710px;
  margin: 0 auto;
}

.main1#new {
  width: 500px;
}

.main1 h1 {
  margin-bottom: 0;
  color :#ED3F18;
}
.main1 h1 a{
  text-decoration: none;
  color :#ED3F18;
}

.main1 h2, h3 {
  text-align: center;
}
article {
  text-align: justify;
  margin: 25px 0;
  padding: 0 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #223127;
}
.author {
  display: inline-block;
  margin: 5px;
  color: rgba(34,49,39,0.7);
  font-size: 14px;
  font-style: italic;
}

.publish {
  float: right;
  margin: 10px;
  color: #F5F5F5;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 10px;
  border-bottom-left-radius: 5%20%;
  border-bottom-right-radius: 5%20%;
  border-top-left-radius: 5%20%;
  border-top-right-radius: 5%20%;
  background-image: linear-gradient(to bottom, #889FA6, #223127);
}

.publish:hover {
  background-image: linear-gradient(to top, #889FA6, #223127);
}

#confirm-delete {
  float: right;
  margin-right: 140px;
  clear: both;
  padding-left: 20px;
}
small a {
  text-decoration: none;
  color: rgba(0,0,0,0.7)
}

small a:hover {
  color: rgba(0,0,0,0.4)
}
form input {

}
form input.field{
  margin-left: 20px;
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: solid 1px #223127;
  background-color: #EFF0E2;
}
form textarea {
  display: block;
  width: 500px;
  height: 560px;
  margin-bottom: 20px;
  background-color: #EFF0E2;
}

form textarea.comment {
  height: 60px;
}
footer {
  text-align: center;
  padding: 30px 0;
}
footer ul{
  padding: 0;
}
footer ul li {
  margin: 0 3px;
  display: inline-block;
}
