<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Awesome Page!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" charset="utf-8">
    <link media="screen" rel="stylesheet" href="/assets/stylesheets/application.css"  />
  </head>
  <body>
    <nav class="nav">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/published">Published Posts</a></li>
      <li><a href="/posts/unpublished">Unpublished Posts</a></li>
      <li class="new-post"><a href="/posts/new">New Post</a></li>
    </ul>
    </nav>
    <!-- Ruby will place one of my templates inside of this file, right here where I call "yield"  -->
    <%= yield %>
  </body>
</html>
